/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
 #homepage {
    height: 60px;
    background-color: blue;
    
}
#home-logo {
    margin-left: 18px;
    background-size: 40px;
    
}
#home-nome {
    display: inline;
    vertical-align: bottom;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
