/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utility */
.container{
    width: 46%;
    margin: 0 auto;
    
}
body{
    background-color: #F5F8F9;
}

/* header */
 #homepage {
    height: 60%;
    background-color: rgb(255, 255, 255);
    
}
#home-logo {
    margin-left: 18px;
    background-size: 40px;
    
}
#home-nome {
    display: inline;
    vertical-align: bottom;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

/* main */
div {
    /* background-color: rgb(35, 172, 119);
    height: 100%; */
    
}
#testo {
    margin-top: 30px;

}

#card {
    margin-top: 32px;
    padding: 8px;
    width: 700px;
    height: 600px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
#bottons {
    text-align: left;
    margin-left: 3%;
    /* border-style: solid;
    border-bottom: 2px;
    border-color: #8F8897; */
    

}
#botton-task, #botton-section{
    font-size: 18px;
    border-radius: 7px;
    padding: 0px 7px;
    cursor: pointer;
    /* border: 1px, solid, gray; */
    
}


#botton-task {
    background-color: #1C90FF;
    color: white;
}
#botton-section{
    color: #8F8897;
    background-color: white;
}
/* lista */
#lista{
    list-style: none;
}
#elenco{
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
}
/* #titolo {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
} */
#titolo{
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 25px;
}
span{
    font-size: 8px;
    vertical-align: middle;
}
li{
    margin-top: 14px;
    margin-bottom: 18px;

}
.verde {
    color: green;
    background-color: white;
    font-size: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid;
}
.rosso {
    color: red;
    background-color: white;
    font-size: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid;
}